.toolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.p-button-text {
  margin-right: 0.5rem;
}

.p-table {
  font-size: 0.95rem;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
