<div *ngIf="loading" class="loader-container">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!loading">
  <div class="toolbar">
    <app-button
      label="Create User"
      icon="pi pi-plus"
      (click)="createUser()"
    ></app-button>
  </div>

  <p-table
    [value]="users"
    [paginator]="true"
    [rows]="5"
    [rowHover]="true"
    [responsiveLayout]="'scroll'"
    class="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company?.name }}</td>
        <td>
          <app-button
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="editUser(user)"
          ></app-button>
          <app-button
            icon="pi pi-trash"
            class="p-button-text"
            (click)="confirmDelete(user)"
          ></app-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
</div>
