<div class="toolbar">
  <app-button
    label="Create"
    icon="pi pi-plus"
    (click)="createUser()" 
  ></app-button>
</div>

<p-table [value]="users" [paginator]="true" [rows]="5">
  <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.company?.name }}</td>
      <td>
        <app-button
          icon="pi pi-ellipsis-v"
          class="p-button-text p-button-rounded p-button-sm"
          (click)="openMenu($event, user, rowIndex)"
        ></app-button>

        <p-menu
          #menuRef
          [popup]="true"
          [model]="menuItems"
        ></p-menu>
      </td>
    </tr>
  </ng-template>
</p-table>



<p-confirmDialog></p-confirmDialog>
