.app-container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 220px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}

.content-container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
